@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  height: 100%;
  background-image: url(./cat-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $primary-color;
}
